<template>
  <form @submit.prevent="getTasks" class="panel">
    <label class="label">
      Search Tasks
      <input
        type="search"
        name="SearchBox"
        v-model="searchTerms"
        placeholder="Search terms separated by space"
      />
    </label>
    <button type="submit">Search</button>
  </form>

  <form @submit.prevent="getTasks" class="panel">
    <label class="label">
      Filter Tasks
      <div class="field-group">
        <input
          type="number"
          min="0"
          :max="filters.maxBudget"
          v-model="filters.minBudget"
          placeholder="Min Budget"
        />
        <input
          type="number"
          min="0"
          v-model="filters.maxBudget"
          placeholder="Max Budget"
        />
      </div>
    </label>

    <label class="label">
      Platform
      <select multiple v-model="filters.selectedPlatforms">
        <option v-for="(platform, k) in platforms" :key="'p-op' + k">
          {{ platform }}
        </option>
      </select>
    </label>

    <button type="submit">Filter</button>
  </form>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue"
import useTaskFilters from "@/store/taskFilters"

import { Platform } from "@/models/platform.model"

export default defineComponent({
  name: "TaskFilter",

  props: {
    getTasks: {
      type: Function,
      required: true
    }
  },

  setup() {
    const { filters, searchTerms } = useTaskFilters()

    const platforms = ref<Array<Platform>>([
      Platform.INSTAGRAM,
      Platform.TWITCH,
      Platform.YOUTUBE
    ])

    return {
      filters,
      searchTerms,
      platforms
    }
  }
})
</script>
