<template>
  <div class="pagination">
    <button @click="previousPage">&lt;</button>
    {{ pageNumber }}
    <button @click="nextPage">&gt;</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import usePagination from "@/store/paginate"
import useTasks, { TASKS_PER_PAGE } from "@/store/getTasks"

export default defineComponent({
  setup() {
    const { pageNumber } = usePagination()
    const { tasks, taskList, getTasks } = useTasks()

    const previousPage = () => {
      if (pageNumber.value > 1) {
        if (TASKS_PER_PAGE * pageNumber.value > tasks.all.length) {
          getTasks(false, { newerThanId: taskList.value[0].id })
        }

        pageNumber.value -= 1
      }
    }

    const nextPage = () => {
      if (TASKS_PER_PAGE * pageNumber.value < tasks.all.length) {
        if (
          tasks.all.length - TASKS_PER_PAGE * pageNumber.value ===
          TASKS_PER_PAGE
        ) {
          getTasks(false, { olderThanId: taskList.value.slice(-1)[0].id })
        }

        pageNumber.value += 1
      }
    }

    return {
      pageNumber,

      previousPage,
      nextPage
    }
  }
})
</script>
