<template>
  <div class="task">
    <div class="task__title bold">
      {{ task.title }}
    </div>
    <div class="task__description">
      {{ task.description }}
    </div>

    <div class="divider" />

    <div class="task__info">
      <div class="task__info__budget">
        <span class="bold">Budget:</span>
        {{ task.budget.value }} {{ task.budget.currency }}
      </div>

      <span class="bold">|</span>

      <div class="task__info__proposals">
        <span class="bold">{{ task.proposalCount }}</span> proposals
      </div>
    </div>

    <div class="divider" />

    <div class="task__platforms">
      <div class="bold">Available for:</div>
      <button
        v-for="(platform, k) in task.platforms"
        :key="'platform' + k"
        class="task__platforms__name bold"
        @click="pushTag(platform)"
      >
        {{ platform }}
      </button>
    </div>

    <div class="divider" />

    <div class="task__added">
      <span class="bold">Added on</span>
      {{ formatTime(task.addedTime) }}
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import { Platform } from "@/models/platform.model"
import useTaskSearch from "@/store/taskFilters"
import useTasks from "@/store/getTasks"

export default defineComponent({
  name: "Task",

  props: {
    task: {
      type: Object,
      required: true
    }
  },

  setup() {
    const { filters } = useTaskSearch()
    const { getTasks } = useTasks()

    const pushTag = (value: Platform) => {
      filters.selectedPlatforms = [value]
      getTasks()
    }

    const formatTime = (addedOn: Date) => {
      return `${new Date(addedOn).toDateString()}, ${new Date(
        addedOn
      ).toLocaleTimeString()}`
    }

    return {
      pushTag,
      formatTime
    }
  }
})
</script>
