<template>
  <main>
    <h1>Tasks Search view</h1>

    <div class="panels">
      <div class="panel panel--sidebar">
        <TaskFilters :getTasks="getTasks" />
      </div>

      <div class="panel panel--tasks">
        <Task v-for="task in taskList" :key="task.id" :task="task" />
        <Paginate />
      </div>
    </div>
  </main>
</template>

<script lang="ts">
import { defineComponent, onMounted } from "vue"

import TaskFilters from "@/components/tasks/Filters.vue"
import Task from "@/components/tasks/Task.vue"
import Paginate from "@/components/tasks/Paginate.vue"

import useTasks from "@/store/getTasks"
import { useRoute } from "vue-router"
import usePagination from "@/store/paginate"

export default defineComponent({
  name: "TasksSearch",

  components: {
    TaskFilters,
    Task,
    Paginate
  },

  setup() {
    const { getTasks, taskList } = useTasks()
    const { setPage } = usePagination()
    const { query } = useRoute()

    onMounted(async () => {
      try {
        if (query.page) setPage(Number(query.page))

        await getTasks()
      } catch (e) {
        console.error(e)
      }
    })

    return {
      getTasks,
      taskList
    }
  }
})
</script>

<style lang="scss">
@import "@/assets/styles/tasksSearch";
</style>
