.bold {
  font-weight: 600;
}

.label {
  font-weight: 600;

  input,
  select {
    width: 100%;
    padding: 4px 8px;
  }
}

button {
  font-weight: 600;
  padding: 4px 1rem;
  background: inherit;
}

.divider {
  margin: 0.5rem 0;
  height: 1px;
  background: #cecece;
}

.panels {
  display: flex;
  max-width: 95%;
  margin: auto;
  gap: 1.25rem;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  margin-top: 1rem;

  &--tasks {
    flex-grow: 1;
    margin-bottom: 2.5rem;
  }
}

.field-group {
  display: flex;
  gap: 0.5rem;

  input {
    width: 50%;
  }
}

.task {
  padding: 0.75rem;
  border: 1px solid #cecece;
  border-radius: 8px;

  &__title {
    font-size: 1.5rem;
  }

  &__description {
    font-size: 14px;
    line-height: 1.5;
  }

  &__info {
    display: flex;
    gap: 0.5rem;
  }

  &__platforms {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    align-items: center;

    &__name {
      background: #3333ff;
      color: white;
      padding: 4px 12px;
      border-radius: 1rem;
      font-size: 12px;
      letter-spacing: 0.25px;
    }
  }

  &__added {
    line-height: 1.5;
    font-size: 12px;
  }
}

.pagination {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  color: gray;
  font-size: 1.5rem;

  button {
    color: gray;
    font-size: 1.5rem;
    border-radius: 4px;
    border: 2px solid gray;
  }
}
